html {
  background-image: linear-gradient(
    180deg,
    rgb(26, 53, 124),
    rgb(152, 71, 154)
  );
  background-repeat: no-repeat;
  height: 100%;
}

.navbar-container {
  background-color: rgb(20, 40, 92);
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::placeholder {
  color: white;
  font-size: medium;
}
input {
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  width: 250px;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.2);
  outline: none;
  color: white;

  border: none;
  border-radius: 24px;
  transition: 0.1s;
}
input:focus {
  box-shadow: 0 0 0 2pt rgb(218, 218, 218);
}

button {
  margin-left: -38px;
  width: 35px;
  height: 35px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}
