html {
  background-image: linear-gradient(
    180deg,
    rgb(26, 53, 124),
    rgb(152, 71, 154)
  );
  background-repeat: no-repeat;
  height: 100%;
}

.navbar-container {
  background-color: rgb(20, 40, 92);
  height: 110px;
}
