body {
  background-image: linear-gradient(
    180deg,
    rgb(26, 53, 124),
    rgb(152, 71, 154)
  );
  background-repeat: no-repeat;
  height: 100%;

  background-attachment: fixed;
}

* {
  font-family: "Oswald", sans-serif;
}

img {
  width: 100px;
}

.bars-icon {
  position: absolute;
  right: 0;
  align-self: center;
  margin-right: 20px;
}

.bars-icon button {
  background: none;
  outline: none;
}

.bars-icon button i {
  color: white;
  font-size: xx-large;
}

.navbar-container {
  background-color: rgb(26, 53, 124);
  height: 110px;
  display: flex;
  width: 100%;
}

.navbar-opening ul {
  font-weight: bold;
  margin-right: 100px;
  color: rgb(61, 60, 60);
}

.globe-container {
  position: absolute;
  right: 10%;
  align-self: center;
  display: flex;
  align-items: center;
}

.globe-container i {
  color: white;
  font-size: x-large;
  margin: 10px;
}

.globe-container p {
  color: white;
  letter-spacing: 1px;
}

.navbar-opening ul li {
  font-weight: lighter;
  list-style-type: none;
  margin-top: 10px;
  color: rgb(73, 72, 72);
  cursor: pointer;
}
.navbar-opening ul li:hover {
  text-decoration: underline;
  color: rgb(61, 61, 245);
}

.navbar-opening {
  background-color: rgb(250, 246, 246);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  transition: 0.5s;
}

.cloud-degree {
  font-size: 2rem;
  color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-right: 10px;
}

.cloud-degree i {
  font-size: 5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.grid-block-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.9fr 1fr 0.5fr;
  grid-template-areas:
    ".city-weather ads."
    ".todays-forecast ads."
    ".radar air-index ."
    ".weather-details top-stories ."
    ". ad6bottom ad6bottom .";
}

.advertisements {
  background-color: white;
  color: black;
  width: 250px;
  grid-area: ads;
  margin-top: 20px;
  border-radius: 10px;
  justify-self: start;
  display: flex;
  flex-direction: column;
}

.advertisements p {
  text-align: right;
  font-size: x-small;
  padding-right: 3px;
  color: rgb(138, 136, 136);
}

.advertisements img {
  height: 40%;
  margin: 0 auto;
  display: block;

  width: 95%;
}

.advertisements button {
  width: 100px;
  height: 35px;
  background-color: rgb(50, 50, 226);
  color: white;
  border-radius: 24px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
  align-self: center;
  margin-top: 10px;
}

.advertisements button:hover {
  box-shadow: 0 0 5px rgb(105, 105, 105);
}

.city-weather {
  grid-area: city-weather;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 10px;
  padding: 10px;
  padding-left: 40px;
  width: 90%;
  color: white;
}

.city-weather h2 {
  margin-bottom: 0;
}

.city-weather h1 {
  font-size: 5em;
  margin: 0;
}

.navbar-children {
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.navbar-container-b {
  background-color: rgb(16, 32, 74);
  height: 40px;
  padding: 20px 20px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar-container-b span {
  padding-bottom: 20px;
  cursor: pointer;
}

.navbar-container-b span:hover {
  border-bottom: 2px solid white;
}

input::placeholder {
  color: white;
  font-size: medium;
}
input {
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  width: 250px;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.2);
  outline: none;
  color: white;

  border: none;
  border-radius: 24px;
  transition: 0.1s;
}
input:focus {
  box-shadow: 0 0 0 2pt rgb(218, 218, 218);
}

.navbar-btn {
  margin-left: -38px;
  width: 35px;
  height: 35px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.todays-forecast {
  grid-area: todays-forecast;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  text-align: center;

  margin-top: 20px;

  background-color: white;
  border-radius: 10px;
  padding: 10px;
  padding-left: 40px;
  width: 90%;
  color: black;
  margin-bottom: 5px;
}

.forecast-container {
  display: flex;
  justify-content: flex-end;

  color: rgb(92, 92, 92);
  font-size: x-large;
}

.degrees {
  color: blue;
}

.vl {
  border-left: 2px solid grey;
  height: 160px;

  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgb(206, 202, 202) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

.forecast-container ul {
  margin-right: 20px;
}

.forecast-container li {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

.next-hours {
  width: 100px;
  height: 35px;
  background-color: rgb(50, 50, 226);
  color: white;
  border-radius: 24px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
}

.react-logo {
  align-self: center;
  margin-left: 10px;
  height: 100px;
  width: 100px;
}
.percentages {
  color: black;
}
.adv {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 25px;
  width: 80%;
  height: 210px;
}

.radar-map-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;

  width: 94%;
  margin-top: 15px;

  color: black;
  padding: 10px;

  grid-area: radar;
}

.radar-map-container h1 {
  margin-left: 15px;
}

.next-hours:hover {
  box-shadow: 0 0 5px rgb(105, 105, 105);
}

.a1-container {
  grid-area: weather-details;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding: 10px;

  background-color: white;
  border-radius: 10px;
  width: 94%;

  color: black;
}

.weather-details h2 {
  margin-left: 20px;
}

.feels-like {
  font-size: medium;
  line-height: 0;
  margin-left: 10px;
  margin-bottom: 30px;
}

.degree-span {
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.5;
  margin-left: 10px;
}

.w-details-container {
  display: flex;
  justify-content: space-between;
}

.inline-block-detail {
  border-top: 1px solid rgb(223, 219, 219);
  padding: 15px 16px;
}

.inline-block-detail span:first-of-type {
  padding: 0 100px 0 10px;
}

.weather-info {
  float: right;
}

.footer-container {
  background-color: white;
  height: 400px;

  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-container span {
  margin: 10px;
}

.ad5 {
  width: 200px;
  height: 75px;
}

.first-f-container {
  font-size: small;
}

.second-f-container span {
  border-right: 1px solid black;
  margin: 0;
  padding: 0 0.5em;
  font-weight: 600;
}

.second-f-container span:last-of-type {
  border: none;
}

.p-container {
  font-size: medium;
}

.third-container span {
  border-right: 1px solid black;
  margin: 0;
  padding: 0 0.5em;
  font-weight: 600;
}

.third-container span:last-of-type {
  border: none;
}

#copyright-tag {
  font-size: small;
}

.ad6-bottom-container {
  grid-area: ad6bottom;

  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding: 0 0 20px 0;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-align: center;
}

.ad6-bottom-container p {
  text-align: right;
  font-size: x-small;
  color: grey;
  margin-right: 5px;
}

.ad6-bottom-container img {
  width: 90%;
  height: 100px;
}

.second-col-container {
  background-color: white;

  width: 250px;
  grid-area: air-index;
  margin-top: 20px;
  border-radius: 10px;
}

.second-col-container h2 {
  margin-bottom: 40px;
  margin-left: 10px;
}

.second-col-container button {
  width: 100px;
  height: 35px;
  background-color: rgb(50, 50, 226);
  color: white;
  border-radius: 24px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
  align-self: center;
  margin-left: 20px;
  margin-top: 50px;
}
.para-mod {
  font-size: small;
  width: 60%;
  color: rgb(94, 94, 94);
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.index {
  margin: 5px 0 0 5px;
  color: black;
  font-size: xx-large;
  border: 3px solid rgb(223, 217, 217);
  border-left-color: rgb(255, 170, 11);
  border-bottom-color: rgb(255, 170, 11);
  padding: 15px;
  width: 40px;
  height: 40px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.mod-container {
  display: flex;
}

.mod {
  font-size: large;
  margin-bottom: 5px;

  color: black;
}

.row-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
}

.title-case {
  text-transform: capitalize;
}

.top-stories-container {
  background-color: white;
  text-align: center;

  grid-area: top-stories;
  margin-top: 20px;
  border-radius: 10px;
}

.stories-flex p {
  font-size: small;
  color: rgb(65, 65, 65);
}

.stories-flex img {
  width: 200px;
  border-radius: 6px;
}

@media only screen and (max-width: 800px) {
  .globe-container {
    display: none;
  }

  .ad6-bottom-container {
    width: 95%;
  }

  .footer-container {
    width: 100%;
  }

  .todays-forecast {
    width: 85%;

    padding-left: 0;
  }

  .next-hours {
    align-self: flex-start;
    margin-left: 15px;
  }

  .todays-forecast {
    align-items: center;
  }

  .react-logo {
    height: 70px;
    width: 70px;
  }

  .radar-map-container {
    width: 85%;
  }

  input {
    width: 150px;
  }

  input::placeholder {
    font-size: small;
  }

  .city-weather {
    width: 80%;
  }

  .navbar-opening {
    flex-direction: column;
  }

  .navbar-container-b span {
    font-size: x-small;
  }
  .second-f-container {
    font-size: x-small;
  }

  .adv {
    width: 90%;
    height: 150px;
  }
  .grid-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    grid-template-areas: none;
  }

  .second-col-container {
    width: 85%;
    padding-bottom: 10px;
  }

  .a1-container {
    width: 90%;
  }

  .advertisements {
    display: none;
  }

  .top-stories-container {
    width: 80%;
  }

  .forecast-container {
    justify-content: none;
    font-size: large;
  }

  .forecast-container ul {
    padding: 10px;
    font-size: small;
    margin: 0;
  }

  .w-details-container {
    flex-direction: column;
  }
}
