html {
  background-image: linear-gradient(
    180deg,
    rgb(26, 53, 124),
    rgb(152, 71, 154)
  );
  background-repeat: no-repeat;
  height: 100%;
}

* {
  font-family: "Oswald", sans-serif;
}

img {
  width: 100px;
  height: 100px;
  align-self: center;
  margin-left: 15px;
}

.bars-icon {
  position: absolute;
  right: 0;
  align-self: center;
  margin-right: 20px;
}

.bars-icon button {
  background: none;
  outline: none;
}

.bars-icon button i {
  color: white;
  font-size: xx-large;
}

.navbar-container {
  background-color: rgb(20, 40, 92);
  height: 110px;
  display: flex;
}

.navbar-opening ul {
  font-weight: bold;
  margin-right: 120px;
  color: rgb(61, 60, 60);
}

.navbar-opening ul li {
  font-weight: lighter;
  list-style-type: none;
  margin-top: 10px;
  color: rgb(73, 72, 72);
  cursor: pointer;
}
.navbar-opening ul li:hover {
  text-decoration: underline;
  color: rgb(61, 61, 245);
}

.navbar-opening {
  background-color: rgb(250, 246, 246);
  height: 100%;
  display: flex;
  padding: 10px;
}

.navbar-children {
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

input::placeholder {
  color: white;
  font-size: medium;
}
input {
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  width: 250px;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.2);
  outline: none;
  color: white;

  border: none;
  border-radius: 24px;
  transition: 0.1s;
}
input:focus {
  box-shadow: 0 0 0 2pt rgb(218, 218, 218);
}

button {
  margin-left: -38px;
  width: 35px;
  height: 35px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}
